<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IProcess1" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:124/myservice" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IProcess1" contract="ProcessService.IProcess1"
                name="NetTcpBinding_IProcess1">
                <identity>
                    <userPrincipalName value="antodank@corp.capgemini.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>