<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="WASWcfService.CalculatorService">
        <endpoint address ="" binding ="netTcpBinding" contract ="WASWcfService.ICalculator" bindingConfiguration ="portsharing">
          <identity>
            <dns value ="localhost"/>
          </identity> 
        </endpoint>
        <endpoint address ="mex" binding="mexHttpBinding" contract ="IMetadataExchange"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress ="net.tcp://localhost:8744"/>
            <add baseAddress ="http://localhost:8745"/>
          </baseAddresses> 
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="portsharing" portSharingEnabled ="true">
        </binding>
      </netTcpBinding>
    </bindings> 
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpBinding" scheme="http" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
